<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--按照顺序 properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, objectWrapperFactory?, reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?-->
    <typeAliases >
        <package name="gy.spring.learn.transation.dto"/>
        <package name="gy.spring.learn.mybatismethod.entity"/>
    </typeAliases>

    <!--配置类型处理器之后，在sqlmapper中自动映射，不用配置typeHandler属性-->
    <typeHandlers>
        <typeHandler handler="gy.spring.learn.mybatismethod.typeHander.DeliveryStatusTypeHander" javaType="gy.spring.learn.mybatismethod.entity.DeliveryStatus" jdbcType="NUMERIC"/>
        <package name="gy.spring.learn.mybatismethod.typeHander"/>
    </typeHandlers>
    <mappers>
        <!--使用resource 中的mapper-->
        <mapper resource="mapper/DeliveryOrderHeaderMapper.xml"/>

        <!--需要将mapper接口类名和mapper.xml映射文件名称保持一致且在同一个目录中，-->
        <!--注意：要使用的是mapper代理。两个文件要在同一个目录-->
        <!--<mapper class="gy.spring.learn.transation.dao.DeliveryOrderHeaderDao"/>-->
        <!--<package name="gy.spring.learn.transation.dao"/>-->
    </mappers>
</configuration>
